:root {
  --primary-color: #7f85c1;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  width: auto;
  height: auto;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ecebef;
  padding: 0;
}

.ant-btn {
  &-primary:disabled {
    cursor: not-allowed;
    color: #fff;
    background-color: #41395b;
    opacity: 0.5;
    box-shadow: none;
  }
}
.container,
.container-fluid,
.container-xxl,
.container-xl,
.container-lg,
.container-md,
.container-sm {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  width: 100%;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container-sm,
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container-md,
  .container-sm,
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container-lg,
  .container-md,
  .container-sm,
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container-xl,
  .container-lg,
  .container-md,
  .container-sm,
  .container {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  .container-xxl,
  .container-xl,
  .container-lg,
  .container-md,
  .container-sm,
  .container {
    max-width: 1320px;
  }
}

.ant-select {
  &:not(.ant-select-disabled):not(.ant-select-customize-input):not(
      .ant-pagination-size-changer
    ):hover
    &-selector {
    border-color: #73589b;
  }
}

.nowrap {
  white-space: nowrap;
}

.no-scroll {
  overflow: hidden;
}

.ant-pagination {
  .ant-pagination-item-active {
    a {
      color: #fff;
    }
    &:hover {
      a {
        color: #fff;
      }
    }
    background-color: #41395b;
  }
}

.ant-spin-nested-loading > div > .ant-spin.fullscreen-spin {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 100%;
  z-index: 9999;
}

.bg-login {
  background: url('images/bg-authentication.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
.label-title {
  color: rgb(53 49 68);
  font-weight: 500;
  font-size: 0.8rem;
  margin-bottom: 6px;
}

.notification-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: 0 0.8rem;
  &_icon {
    font-size: 1.6rem;
    color: #6e757b;
    &:hover {
      color: #5b5373;
    }
  }
}

.notification-content {
  min-width: 300px;
  max-width: 500px;
  padding: 4px;
  list-style-type: none;
  background-color: #ffffff;
  background-clip: padding-box;
  border-radius: 8px;
  outline: none;
  box-shadow:
    0 6px 16px 0 rgba(0, 0, 0, 0.08),
    0 3px 6px -4px rgba(0, 0, 0, 0.12),
    0 9px 28px 8px rgba(0, 0, 0, 0.05);
  &_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #f6f8fa;
    padding: 0.2rem 0.4rem;
    font-weight: 600;
    .btn-markReadAll {
      border-radius: 5px;
      font-weight: 100;
      border: 0;
      padding: 4px;
      background: #f6f8fa;
      font-size: 0.7rem;
      cursor: pointer;
      &:hover {
        color: #846eca;
        background: #f6f8fa;
      }
    }
  }
  &_body {
    max-height: 500px;
    overflow-y: auto;
    margin: 0.4rem 0;
    &-item {
      padding: 0.8rem 1rem;
      cursor: pointer;
      border-radius: 5px;
      background: #efeef1;
      color: #353144;
      &:hover {
        background: #b4b1bc;
        color: #2a1f41;
      }
      & + & {
        margin-top: 0.2rem;
      }
      .notification-time {
        opacity: 0.8;
        font-size: 0.8rem;
      }
    }
    &-empty {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 3rem 0;
      opacity: 0.6;
      svg {
        width: 50px;
      }
    }
  }
  &_footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f6f8fa;
    padding: 0.2rem 1rem;
    color: #5537b9;
  }
}

@media (max-width: 912px) {
  .disable-scroll-x {
    overflow: hidden;
  }
  .sider-content {
    width: 100% !important;
    transition: 0.3s all;
  }
  .ant-layout-sider-collapsed + .sider-content {
    transform: translateX(250px);
  }
}

.ant-layout {
  background: #fafafa;
  .ant-layout-sider-children {
    position: fixed;
    width: 300px;
  }
  &-header {
    background: #fff !important;
    box-shadow: inset 0 -1px 0 rgb(209 217 224 / 70%);
    padding: 0 {
      right: 30px !important;
    }
    .logo-mobile {
      display: none;
      margin: 10px;
      width: 120px;
      max-width: 100%;
      @media (max-width: 912px) {
        display: flex;
      }
    }
    .ant-avatar {
      min-width: 32px;
      min-height: 32px;
    }
    .user-deital {
      margin-left: 10px;
      line-height: 1rem;
      .username {
        font-weight: 500;
        color: #333;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-bottom: 4px;
      }
      .email {
        opacity: 0.8;
        color: #333;
      }
      @media (max-width: 912px) {
        display: none;
      }
    }

    .user-menu {
      display: flex;
      align-items: center;
      cursor: pointer;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  &-content {
    padding: 15px;
    @media (max-width: 576px) {
      & {
        padding: 15px 0;
      }
      .ant-card-body {
        padding: 15px;
      }
    }
  }
  &-sider {
    flex: 0 0 300px !important;
    max-width: 300px !important;
    min-width: 300px !important;
    width: 300px !important;
    &-collapsed {
      flex: 0 0 80px !important;
      max-width: 80px !important;
      min-width: 80px !important;
      width: 80px !important;
      .ant-layout-sider-children {
        width: 80px;
      }
      @media (max-width: 912px) {
        flex: 0 0 0 !important;
        max-width: 0 !important;
        min-width: 0 !important;
        width: 0 !important;
        .ant-layout-sider-children {
          width: 250px;
        }
      }
    }
    &-light {
      background: #fff;
      box-shadow: 0px 0px 5px 0px rgba(209, 217, 224, 0.7);
    }
    @media (max-width: 912px) {
      flex: 0 0 0 !important;
      max-width: 0 !important;
      min-width: 0 !important;
      width: 0 !important;
      .ant-layout-sider-children {
        position: relative;
        width: unset;
      }
      &-collapsed {
        flex: 0 0 250px !important;
        max-width: 250px !important;
        min-width: 250px !important;
        width: 250px !important;
        position: fixed !important;
        height: 100%;
        z-index: 9;
        .ant-menu-item {
          visibility: visible !important;
        }
        .ant-layout-sider-children {
          position: fixed;
        }
      }
      .ant-menu-item {
        padding-inline: 16px;
        visibility: hidden;
        .anticon + span {
          opacity: 1;
        }
      }
    }
  }

  .ant-menu {
    padding: 0 12px;
    &-item {
      a {
        color: #333;
        font-weight: 600;
      }
      &-selected {
        a {
          &::before {
            border-left: 8px solid #353144;
          }
          color: #fff;
        }
      }
      .anticon {
        transition: none;
      }
      &:not(.ant-menu-item-selected):active {
        background-color: #6b667d !important;
        color: #fff;
      }
    }
    &-light {
      border: 0 !important;
      background: transparent;
      .ant-menu-item-selected {
        background-color: #6b667d;
        color: #fff;
      }
    }
    .ant-menu-title-content {
      transition: none;
      a {
        transition: none;
      }
    }
  }
}

#components-layout-demo-custom-trigger {
  min-height: 100vh;
  .trigger {
    font-size: 18px;
    line-height: 64px;
    padding: 0 24px;
    cursor: pointer;
    transition: color 0.3s;
    &:hover {
      color: #55458f;
    }
  }
  .logo {
    height: 60px;
    margin: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      max-width: 100%;
      max-height: 100%;
    }
  }
}

.ant-card {
  .ant-card-head-title {
    white-space: normal;
  }
  &:not(.ant-card-bordered) {
    box-shadow:
      1px 2px 2px 0px rgba(209, 217, 224, 0.7),
      0px 1px 2px 0px rgba(209, 217, 224, 0.7);
  }

  & > &-head {
    background: #f3f3f5;
    font-weight: 700;
    margin-bottom: 0;
    font-size: 1rem;
  }
  &.card-white > &-head {
    background: #fff;
  }
  & > &-body {
    padding-top: 10px;
  }
}

.ant-table {
  border-radius: 12px !important;
  overflow: hidden;
  &-wrapper {
    .ant-table-tbody {
      & > tr.ant-table-row-selected {
        & > td {
          background: #e3dcec;
        }
        &:hover > td {
          background: #dbcfec;
        }
      }
    }
  }

  &-container {
    .ant-table-thead {
      position: sticky;
      top: 0;
      left: 0;
      right: 0;
      width: 100%;
      z-index: 1;
      & > tr > th {
        background: #f8f9fa;
      }
    }
    .ant-table-content {
      overflow: auto !important;
      max-height: 500px;
    }
  }
}

span.disabled {
  opacity: 0.6;
}

@import url(color.scss);
@import url(face-id.scss);
@import url(button.scss);
@import url(flex-box.scss);
@import url(widget.scss);
@import url(widget.scss);
@import url(chart.scss);
@import url(responsive.scss);
