.ant-btn {
  &.ant-btn-default {
    color: #333;
    background-color: #f1f3f5;
    border-color: #d9d9d9;

    &:hover,
    &:active {
      background: #dce1e3;
      color: #333;
      border-color: #d9d9d9;
    }
  }
}

.ant-btn.btn {
  &-info {
    background-color: #00bcd4;
    &:hover {
      background-color: #03a9f4;
    }
  }

  &-success {
    background-color: #8bc34a;
    &:hover {
      background-color: #71be34;
    }
  }

  &-warning {
    background-color: #ffb702;
    &:hover {
      background-color: #ff9800;
    }
  }

  &-danger {
    background-color: #c52600;
    &:hover {
      background-color: #f44336;
    }
  }

  &-gray {
    color: #000;
    background-color: #f1f3f5;
    border-color: #d9d9d9;
    &:hover {
      background: #dce1e3;
      color: #000;
      border-color: #d9d9d9;
    }
  }

  &-dark {
    color: #fff;
    background-color: #000;
    border-color: #000;
    &:hover {
      background: #333;
    }
  }

  &-light {
    background-color: #6b667d;
    border-color: #6b667d;
    color: white;
    &:hover,
    &:active {
      background-color: #5b576b;
      border-color: #5b576b;
      color: white;
    }
  }
}

.ant-btn.btn-outline {
  &-primary {
    color: #41395b;
    background-color: #f2ecff;
    border-color: #c7c0df;
    border-width: 1px;
    border-style: solid;
    box-shadow: none;
    &:not(:disabled):not(.disabled):hover {
      color: #fff;
      background-color: #41395b;
      border-color: #41395b;
    }
  }
  &-info {
    color: #09c2de;
    background-color: #e4f8fb;
    border-color: #9de7f2;
    border-width: 1px;
    border-style: solid;
    box-shadow: none;
    &:not(:disabled):not(.disabled):hover {
      color: #fff;
      background-color: #09c2de;
      border-color: #09c2de;
    }
  }
  &-warning {
    color: #ff9800;
    background-color: #fff6ec;
    border-color: #ffc7b9;
    border-width: 1px;
    border-style: solid;
    box-shadow: none;
    &:not(:disabled):not(.disabled):hover {
      color: #fff;
      background-color: #ff9800;
      border-color: #ff9800;
    }
  }
  &-danger {
    color: #e85347;
    background-color: #fceceb;
    border-color: #f6bab5;
    border-width: 1px;
    border-style: solid;
    box-shadow: none;
    &:not(:disabled):not(.disabled):hover {
      color: #fff;
      background-color: #e85347;
      border-color: #e85347;
    }
  }
  &-gray {
    color: #7c7889;
    background-color: #f1f3f4;
    border-color: #d3d9e0;
    border-width: 1px;
    border-style: solid;
    box-shadow: none;
    &:not(:disabled):not(.disabled):hover {
      color: #fff;
      background-color: #3c4d62;
      border-color: #3c4d62;
    }
  }
  &-light {
    color: #7c7889;
    background-color: #d3d9e0;
    border-color: #d3d9e0;
    border-width: 1px;
    border-style: solid;
    box-shadow: none;
    &:not(:disabled):not(.disabled):hover {
      color: #fff;
      background-color: #3c4d62;
      border-color: #3c4d62;
    }
  }
  &-default {
    color: #7c7889;
    background-color: #f1f3f4;
    border-color: #f1f3f4;
    border-width: 1px;
    border-style: solid;
    box-shadow: none;
    &:not(:disabled):not(.disabled):hover {
      color: #333;
      background-color: #d3d9e0;
      border-color: #d3d9e0;
    }
  }
}
