.text {
  &-primary {
    color: var(--primary-color);
  }
  &-info {
    color: #03a9f4;
  }
  &-success {
    color: #4caf50;
  }
  &-danger {
    color: #ff0039;
  }
  &-warning {
    color: #ffbb00;
  }
  &-gray {
    color: #7f7c7c;
  }
}

.ant-select-item-option-selected {
  background-color: #dbdfe2 !important;
}

.bg {
  &-white {
    background-color: #fff;
    & > * {
      background-color: #fff !important;
    }
  }
}

.ant-input-affix-wrapper:focus,
.ant-input-affix-wrapper-focused,
.ant-select-focused .ant-select-selector,
.ant-input-number-focused,
.ant-picker-focused {
  box-shadow: 0 0 4px 2px #a09ab5b8 !important; /* Màu shadow khi focus */
}

.ant-select-multiple .ant-select-selection-item {
  background: rgb(211 204 233);
}
