@use 'sass:math';

.face-id-input {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 250px;
  border-radius: 10px;
  background: #f6f8fa;
  cursor: pointer;
  border: 1px dashed #c7c2da;
  overflow: hidden;
  position: relative;
  svg {
    width: 160px;
    path,
    line {
      stroke: rgb(208 205 218) !important;
    }
  }
  img {
    position: absolute;
    max-width: 100%;
    object-fit: cover;
    height: 100%;
    width: 100%;
  }
}
.face-id-text {
  color: #1e1c24;
  font-weight: 600;
  background: #f1f3f5;
  padding: 8px;
  text-align: center;
  font-size: 1rem;
  border-radius: 10px;
  margin-top: 10px;
}
.video-container {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 250px;
  background: #000;
  border-radius: 10px;
  .face-background {
    content: '';
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: -1;
  }
  video {
    position: absolute;
    top: 0;
    height: 100%;
    border-radius: 10px;
    transform: scaleX(-1);
    transition: all 0.3s ease-in-out;
    &.ready {
      border-radius: 50%;
      border: 24px solid #222;
    }
  }
  canvas {
    display: none;
  }

  .face-id-loading {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    background: rgb(0 0 0 / 74%);
    z-index: 99;
    .bg-loading {
      display: inline-block;
      position: absolute;
      width: 80px;
      height: 80px;
      box-sizing: border-box;
      div {
        display: inline-block;
        position: absolute;
        left: 8px;
        width: 16px;
        background: rgb(139 111 229);
        animation: face-loading 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
        box-sizing: border-box;

        &:nth-child(1) {
          left: 8px;
          animation-delay: -0.24s;
        }
        &:nth-child(2) {
          left: 32px;
          animation-delay: -0.12s;
        }
        &:nth-child(3) {
          left: 56px;
          animation-delay: 0s;
        }
      }
    }
  }

  .face-id-step {
    color: #fff;
    display: inline-block;
    position: relative;
    width: 200px;
    height: 200px;
    z-index: 1;
    transform: rotate(45deg);
    border-radius: 50%;
    // &::before {
    //   content: '';
    //   position: absolute;
    //   inset: 0;
    //   width: 100%;
    //   height: 100%;
    //   background: url('images/face-range.png');
    //   background-repeat: no-repeat;
    //   background-size: cover;
    //   transform: rotate(315deg);
    //   opacity: 0.3;
    // }
    & > .axis {
      position: absolute;
      inset: 0;
      border-radius: 50%;
      transform: rotate(45deg);
      perspective: 1000px;
      display: none;
      &.active {
        display: block;
      }
      .a-y {
        height: 20px;
        width: calc(100% - 10px);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, calc(-50% - 10px));
        &__top {
          content: '';
          position: absolute;
          left: 0;
          width: 50%;
          height: 100%;
          background: rgba(255, 255, 255, 0.45);
          border: 2px solid #8d70e3;
          border-bottom: 0;
          border-right: 0;
          transform-origin: bottom;
          transform: rotateX(90deg);
          transition: transform 0.1s;
          border-top-left-radius: 100%;
          border-top-right-radius: 0;
          border-bottom-left-radius: 0;
          border-bottom-right-radius: 0;
        }
        &__bottom {
          content: '';
          position: absolute;
          right: 0;
          width: 50%;
          height: 100%;
          background: rgba(255, 255, 255, 0.45);
          border: 2px solid #8d70e3;
          border-bottom: 0;
          border-left: 0;
          transform-origin: bottom;
          transform: rotateX(90deg);
          transition: transform 0.1s;
          border-top-left-radius: 0;
          border-top-right-radius: 100%;
          border-bottom-left-radius: 0;
          border-bottom-right-radius: 0;
        }
      }

      .a-x {
        height: calc(100% - 10px);
        width: 20px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(calc(-50% - 10px), -50%);
        &__left {
          content: '';
          position: absolute;
          bottom: 0;
          width: 100%;
          height: 50%;
          background: rgba(255, 255, 255, 0.45);
          border: 2px solid #8d70e3;
          border-right: 0;
          border-top: 0;
          transform-origin: right;
          transform: rotateY(90deg);
          transition: transform 0.1s;
          border-top-left-radius: 0;
          border-top-right-radius: 0;
          border-bottom-left-radius: 100%;
          border-bottom-right-radius: 0;
        }
        &__right {
          content: '';
          position: absolute;
          inset: 0;
          width: 100%;
          height: 50%;
          background: rgba(255, 255, 255, 0.45);
          border: 2px solid #8d70e3;
          border-right: 0;
          border-bottom: 0;
          transform-origin: right;
          transform: rotateY(90deg);
          transition: transform 0.1s;
          border-top-left-radius: 100%;
          border-top-right-radius: 0;
          border-bottom-left-radius: 0;
          border-bottom-right-radius: 0;
        }
      }
    }

    & > .dot,
    & > .dot::after {
      box-sizing: border-box;
    }

    & > .dot {
      transform-origin: 100px 100px;
      opacity: 0.6;
    }

    & > .dot::after {
      content: ' ';
      display: block;
      position: absolute;
      top: 3.2px;
      left: 36.8px;
      width: 6.4px;
      height: 17.6px;
      border-radius: 20%;
      background: currentColor;
      transform: rotate(325deg);
    }

    @for $i from 1 through 40 {
      & > .dot:nth-child(#{$i}) {
        transform: rotate(#{($i - 1) * 10}deg);
      }
    }

    &.checking {
      & > .dot {
        color: #ffffff;
        opacity: 1;
      }
    }

    &.step1 {
      @for $i from 1 through 9 {
        & > .dot:nth-child(#{$i}) {
          animation: step 0s alternate forwards;
          animation-delay: #{math.div($i, 50)}s;
        }
      }
    }

    &.step2 {
      @for $i from 10 through 18 {
        & > .dot:nth-child(#{$i}) {
          animation: step 0s alternate forwards;
          animation-delay: #{math.div($i - 9, 50)}s;
        }
      }
    }
    &.step3 {
      @for $i from 19 through 27 {
        & > .dot:nth-child(#{$i}) {
          animation: step 0s alternate forwards;
          animation-delay: #{math.div($i - 18, 50)}s;
        }
      }
    }
    &.step4 {
      animation: showBorder 0.4s ease-in-out forwards;
      @for $i from 28 through 40 {
        & > .dot:nth-child(#{$i}) {
          animation: step 0s alternate forwards;
          animation-delay: #{math.div($i - 27, 50)}s;
        }
      }
      & > .dot::after {
        animation: rotateStep 0.4s ease-in-out forwards;
      }
      & > .axis.active {
        display: none;
      }
    }
    &.fullStep {
      animation: showBorder 0.4s ease-in-out forwards;
      @for $i from 1 through 40 {
        & > .dot:nth-child(#{$i}) {
          animation: fullstep 0s alternate forwards;
          animation-delay: #{math.div(math.div($i, 50), 2)}s;
        }
      }
      & > .dot::after {
        animation: rotateStep 0.4s ease-in-out forwards;
      }
      & > .axis.active {
        display: none;
      }
    }
  }
}

@keyframes face-loading {
  0% {
    top: 8px;
    height: 64px;
  }
  50%,
  100% {
    top: 24px;
    height: 32px;
  }
}

@keyframes step {
  to {
    color: rgb(139 111 229);
    opacity: 1;
  }
}

@keyframes fullstep {
  to {
    color: rgb(139 111 229);
    opacity: 1;
  }
}

@keyframes rotateStep {
  to {
    transform: rotate(235deg);
    opacity: 0;
  }
}

@keyframes showBorder {
  to {
    border: 6.4px solid rgb(139 111 229);
    height: 220px;
    width: 220px;
  }
}
